body{
  background: #262626;
  margin : 0;
  font-family: "Montserret","Avenir";
}

.square{
  width: 30%;
  /*background: yellow;*/
  padding-bottom : 30%;
  float : left;
  margin: 1.66% ;
  border-radius: 15%;
  transition : background 0.3s;
}

#container{
  margin: 20px auto;
  max-width: 600px;
}

h1{
  color: white;
  text-align: center;
  background: steelblue;
  margin : 0;
  padding : 20px 0;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.1;
}

#colorDisplayH1{
  font-size: 200%;
}

button{
  border: none;
  background : none;
  font-weight: 700;
  font-size: inherit;
  height: 100%;
  color: steelblue;
  letter-spacing: 1.5px;
  transition : all .3s;
  outline: none;
}

.wrong{
  background: #262626;
}

#stripe{
  height : 30px;
  background: white;
  text-align: center; 

}

#message{
  display: inline-block;
  width: 20%;
  font-weight: 700;
  /*height: 100%;*/
}

.buttonSelected{
  background: steelblue;
  color: white;
}

button:hover{
  background: steelblue;
  color: white;
}